<!DOCTYPE html>
<html lang="en">
<head>
    <!--link rel="stylesheet" href="styles.css"-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

    <title>Are We There Yet?</title>

</head>
<body>
    <h1 class="centered-title">Are We There Yet?</h1>
    <h2 class="centered-subtitle">A single player map-based guessing game.  </h2>
    <h1>Rules </h1>
    <h2>1. Have Fun! </h2>
    <h2>2. Your goal is to guess the amount of time it takes (in SECONDS) to WALK from one city in the USA to another (exact locations shown on map) </h2>
    <h2>3. Your score = Correct Answer - Your Answer  -- but if you overestimate, you get 0 points!!! </h2>
    <h2>4. Don't forget Rule 1 :) </h2>
    <br>
    <div class="container-maps" >
        <div class="container-labels">
            <p >

                <iframe  src="https://maps.google.com/maps?q={{latOne}},{{lonOne}}&t=&z=15&ie=UTF8&iwloc=&output=embed" 
                    width="300"
                    height="170"
                    id = 'locOne' ></iframe>    
            </p>
            <h1 id="changeit1"> Location 1: {{ cityOne }}</h1>
        </div>
        
        
        <!--button type="button" onclick="generateLocOne()">Generate</button></body-->
        <br>
        <div class="container-labels">
            <p >
    
                <iframe src="https://maps.google.com/maps?q={{latTwo}},{{lonTwo}}&t=&z=15&ie=UTF8&iwloc=&output=embed" 
                    width="300"
                    height="170"
                    id = 'locTwo'></iframe>
        
            </p>
            <h1 id="changeit2"> Location 2: {{ cityTwo }} </h1>
        </div>
        
        
        
        
    </div>

    
        
        
    
    
    <!--form action="/generateLocations" method="post"> 
        <input type="submit" value="Generate Locations!" >
    </form>-->
    <body>
        
        <button onclick="generateLocs()" class="button">Generate Locations</button>
    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        
        function generateLocs() {
            var locTwoText = document.getElementById("changeit2");
            var locOneText = document.getElementById("changeit1");
            var locOne = document.getElementById("locOne")
            $.ajax({
                type: "GET",
                url: "{{ url_for('create_file') }}",
                data: {"name":"Jim"},
                success: function(response) {
                    locTwoText.innerHTML = response["Location 2 Text"];
                    locOneText.innerHTML = response['Location 1 Text'];
                    
                    locTwo.src = "https://maps.google.com/maps?q=".concat(response['Location 2 Lat'],",",(response['Location 2 Lon']),"&t=&z=15&ie=UTF8&iwloc=&output=embed");
                    locOne.src = "https://maps.google.com/maps?q=".concat(response['Location 1 Lat'],",",(response['Location 1 Lon']),"&t=&z=15&ie=UTF8&iwloc=&output=embed");
                }

            })
        }


    </script>

    <br>
    <br>
    <br>

    <div class = "container">
        
        <label for="guess">Enter your guess: </label>
        <input type="text" id = "guess">

        <input  type="submit" onclick="submitGuess()" value = "Submit" >   </input>
        
        
        
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 id= "corrAns">  </h2>
    <h2 id= "score">  </h2>
    <script>
        
        function submitGuess() {
            
            var timeAns = document.getElementById("corrAns");
            var myScore = document.getElementById("score");
            $.ajax({
                type: "POST",
                url: "{{ url_for('submitGuess') }}",
                data: {'guess' : document.getElementById("guess").value},
                success: function(response) {
                    //locTwoText.innerHTML = response["Location 2 Text"];
                    //locOneText.innerHTML = response['Location 1 Text'];
                    timeAns.innerHTML = response['time'];
                    myScore.innerHTML = response['myScore'];
                    //locTwo.src = "https://maps.google.com/maps?q=".concat(response['Location 2 Lat'],",",(response['Location 2 Lon']),"&t=&z=15&ie=UTF8&iwloc=&output=embed");
                    //locOne.src = "https://maps.google.com/maps?q=".concat(response['Location 1 Lat'],",",(response['Location 1 Lon']),"&t=&z=15&ie=UTF8&iwloc=&output=embed");
                }

            })
        }


    </script>
</body>
</html>
