<!DOCTYPE html>
<html>
<head>
    <title>Are We There Yet?</title>
    <style>
        .container {
        display: flex;
        align-items: center;
        }

        button {
        margin-left: 10px;
        /* button styles go here */
        }
    </style>
</head>
<body>
    <h1>Are We There Yet?</h1>
    <h2>A single player map-based guessing game.  </h2>
    <h2>Rules </h2>
    <h2>1. Have Fun! </h2>
    <h2>2. Your goal is to guess the amount of time it takes to WALK from one location to another (both locations are ANYWHERE in the U.S.A.)  </h2>
    <h2>3. Your score is based on the accuracy of your guess -- but if you overestimate, you get 0 points!!! </h2>
    <h2>4. Don't forget Rule 1. </h2>
    <br>
    <p id = 'locOne'>

        <iframe src="https://maps.google.com/maps?q={{latOne}},{{lonOne}}&t=&z=15&ie=UTF8&iwloc=&output=embed" 
            width="300"
            height="170"
        ></iframe>    </p>
    <h1> Location 1: {{ cityOne }}</h1>
    <!--button type="button" onclick="generateLocOne()">Generate</button></body-->
    <br>
    <p id = 'locTwo'>

        <iframe src="https://maps.google.com/maps?q={{latTwo}},{{lonTwo}}&t=&z=15&ie=UTF8&iwloc=&output=embed" 
            width="300"
            height="170"
        ></iframe>

    </p>

    <h1> Location 2: {{ cityTwo }} </h1>
    <!--button type="button" onclick="generateLocTwo()" >Generate</button></body-->
    <form action="/generateLocations" method="get"> <!-- or method="post" -->
        <input type="submit" value="Generate Locations!" >
    </form>
    <br>
    <div class = "container">
        <form>
            <label for="guess">Enter your guess: </label>
            <input type="text" id = "guess">
        </form>
        <button type="button">Submit</button>
    </div>
</body>
</html>
        